body, html {
	padding: 0px;
	margin: 0px;
}
html {
	background: #ff8cf1;
	background: linear-gradient(#a6fffb, #ff8cf1);
	color: #ffffff;
	background-repeat: no-repeat;
	min-height: 100%;
}
body {

	font-family: Lobster;
}
.poo {
	width: 350px;
	height: 350px;
	background-image: url('./poo.png');
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 1em auto;
}
.card {
	border-radius: 20px;
	background: white;
	width: 500px;
	margin: 1em 1em;
	padding: 0.5em 1em;
	flex: 1;
	color: #ff8cf1;
}
.stats {
	margin: 1em auto;
}

button {
	background-color: white;
	color: #ff8cf1;
	font-weight: bold;
	font-size: 1.7em;
	padding: 1em 1.5em;
	border-radius: 20px;
	outline: 0px;
	border: 0px;
	cursor: pointer;
	max-width: 400px;
	margin: 0.5em auto;
	font-family: Lobster;
}
button:active {
	transform: scale(0.95);
	/* TODO inner shadow */
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
}
.App {
	display: flex;
	flex-direction: column;
}

.card button {
	color: white;
	background: #ff8cf1;
	background: linear-gradient(#a6fffb, #ff8cf1);
}
input {
	border: 2px solid #ff8cf1;
	border-radius: 20px;
	height: 4em;
	padding: 0.5em;
	margin: 1.5em auto 1em;
	outline: 0px !important;
}
input:focus {
	box-shadow: 0px 0px 3px #ff8cf1;
}
a, button {
	outline: none !important;
}
button::-moz-focus-inner {
	border: 0;
}
a:active {
	transform: scale(0.95);
}
h2 {
	text-align: center;
}
.error {
	color: red;
}
.clickable {
	cursor: pointer;
	user-select: none;
}
.clickable:active {
	transform: scale(0.95);
}


.cardHolder {
	margin: auto;
	max-width: 900px;
	display: flex;
}

@media only screen and (max-width: 900px) {
	.cardHolder {
		display: inline;
	}
	.card {
		width: auto;
	}
}


