body, html {
	padding: 0px;
	margin: 0px;
	height: 100%;
}
html {
	background: #ff8cf1;
	background: linear-gradient(#a6fffb, #ff8cf1);
	color: #ffffff;
	background-repeat: no-repeat;
}
.card {
	border-radius: 3px;
	border: 3px solid #ffffff;
	width: 300px;
	margin: 2em;
}

